body {
  padding: 20px;
  background-color: darkgray;
}

button {
  width: 120px;
  height: 30px;
  outline: none;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

h1,
h2,
h3 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
}

li {
  margin: 10px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

ul {
  margin: 5px;
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 720px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 40px;
  background-color: whitesmoke;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}
